<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lieyanzhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,263}}</string>
                <key>sourceSize</key>
                <string>{236,263}</string>
            </dict>
            <key>lieyanzhan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{242,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,258}}</string>
                <key>sourceSize</key>
                <string>{242,258}</string>
            </dict>
            <key>lieyanzhan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{238,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,233}}</string>
                <key>sourceSize</key>
                <string>{238,233}</string>
            </dict>
            <key>lieyanzhan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,262},{202,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,224}}</string>
                <key>sourceSize</key>
                <string>{202,224}</string>
            </dict>
            <key>lieyanzhan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,466},{170,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,164}}</string>
                <key>sourceSize</key>
                <string>{170,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lieyanzhan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73db385f9ec79d5e6be82c96d92e2149:1/1$</string>
            <key>textureFileName</key>
            <string>lieyanzhan.png</string>
        </dict>
    </dict>
</plist>
