<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pudu_buff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{155,192}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{155,192}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>pudu_buff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{157,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{157,212}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>pudu_buff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,159},{157,188}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,27},{157,188}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>pudu_buff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,212}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{157,212}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhufuzhizhen.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f7bbf80a6dc2e506e3f5c2a89dfb8f1:1/1$</string>
            <key>textureFileName</key>
            <string>zhufuzhizhen.png</string>
        </dict>
    </dict>
</plist>
