<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhixing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,81},{55,30}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,22},{55,30}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing10.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,154},{147,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,74}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,156},{145,74}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{145,74}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{149,74}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,74}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{155,74}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing14.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,224},{145,72}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{145,72}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{135,68}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{135,68}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{77,42}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,17},{77,42}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,113},{109,54}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{109,54}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{135,68}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{135,68}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{147,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,74}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,80},{147,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,74}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing7.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,78},{147,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,74}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{147,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,74}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>zhixing9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{147,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,76}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhixing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cb862e7bd624eef2ddb05673ed5abcf:1/1$</string>
            <key>textureFileName</key>
            <string>zhixing.png</string>
        </dict>
    </dict>
</plist>
