<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fusushu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,258},{302,276}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{302,276}}</string>
                <key>sourceSize</key>
                <string>{360,320}</string>
            </dict>
            <key>fusushu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,582},{290,252}}</string>
                <key>offset</key>
                <string>{-24,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,64},{290,252}}</string>
                <key>sourceSize</key>
                <string>{360,320}</string>
            </dict>
            <key>fusushu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{330,310}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{330,310}}</string>
                <key>sourceSize</key>
                <string>{360,320}</string>
            </dict>
            <key>fusushu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{308,254}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,54},{308,254}}</string>
                <key>sourceSize</key>
                <string>{360,320}</string>
            </dict>
            <key>fusushu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{284,256}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,54},{284,256}}</string>
                <key>sourceSize</key>
                <string>{360,320}</string>
            </dict>
            <key>fusushu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{290,260}}</string>
                <key>offset</key>
                <string>{-21,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{290,260}}</string>
                <key>sourceSize</key>
                <string>{360,320}</string>
            </dict>
            <key>fusushu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{316,274}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{316,274}}</string>
                <key>sourceSize</key>
                <string>{360,320}</string>
            </dict>
            <key>fusushu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,286}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{340,286}}</string>
                <key>sourceSize</key>
                <string>{360,320}</string>
            </dict>
            <key>fusushu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,314},{290,266}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{290,266}}</string>
                <key>sourceSize</key>
                <string>{360,320}</string>
            </dict>
            <key>fusushu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,536},{290,252}}</string>
                <key>offset</key>
                <string>{-23,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,58},{290,252}}</string>
                <key>sourceSize</key>
                <string>{360,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fusushu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd956fc6e8112a448b4942d123ddaf9f:1/1$</string>
            <key>textureFileName</key>
            <string>fusushu.png</string>
        </dict>
    </dict>
</plist>
