<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buffId</key>
		<string>zhanqi</string>
		<key>name</key>
		<string>战气</string>
		<key>iconPath</key>
		<string></string>
		<key>skillName</key>
		<string>zhanqi</string>
		<key>skillFrames</key>
		<integer>9</integer>
		<key>scale</key>
		<real>1</real>
		<key>life</key>
		<integer>3</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>type</key>
		<integer>1</integer>
		<key>isNegative</key>
		<false/>
		<key>pgain</key>
		<integer>20</integer>
		<key>mgain</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>buffId</key>
		<string>zhixing</string>
		<key>name</key>
		<string>止行</string>
		<key>iconPath</key>
		<string></string>
		<key>skillName</key>
		<string>zhixing</string>
		<key>skillFrames</key>
		<integer>9</integer>
		<key>scale</key>
		<real>1</real>
		<key>life</key>
		<integer>2</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>-2</integer>
		<key>type</key>
		<integer>14</integer>
		<key>isNegative</key>
		<true/>
		<key>pgain</key>
		<integer>0</integer>
		<key>mgain</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>buffId</key>
		<string>pudu</string>
		<key>name</key>
		<string>普渡</string>
		<key>iconPath</key>
		<string></string>
		<key>skillName</key>
		<string>pudu_buff</string>
		<key>skillFrames</key>
		<integer>4</integer>
		<key>scale</key>
		<real>0.3</real>
		<key>life</key>
		<integer>5</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>type</key>
		<integer>32</integer>
		<key>subtype</key>
		<integer>1</integer>
		<key>isNegative</key>
		<true/>
		<key>pgain</key>
		<integer>0</integer>
		<key>mgain</key>
		<integer>0</integer>
		<key>fixedValue</key>
		<integer>200</integer>
		<key>percentValue</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
