<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leimingzhan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{104,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>leimingzhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,272},{92,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,134}}</string>
                <key>sourceSize</key>
                <string>{92,134}</string>
            </dict>
            <key>leimingzhan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{142,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,151}}</string>
                <key>sourceSize</key>
                <string>{142,151}</string>
            </dict>
            <key>leimingzhan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,159}}</string>
                <key>sourceSize</key>
                <string>{227,159}</string>
            </dict>
            <key>leimingzhan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{206,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,107}}</string>
                <key>sourceSize</key>
                <string>{206,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>leimingzhan.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:729563cea49e8f443d62fdd9b2a1a70c:1/1$</string>
            <key>textureFileName</key>
            <string>leimingzhan.png</string>
        </dict>
    </dict>
</plist>
