<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jufengzhou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,918},{210,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,316}}</string>
                <key>sourceSize</key>
                <string>{210,316}</string>
            </dict>
            <key>jufengzhou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{516,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,400}}</string>
                <key>sourceSize</key>
                <string>{516,400}</string>
            </dict>
            <key>jufengzhou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,472}}</string>
                <key>sourceSize</key>
                <string>{553,472}</string>
            </dict>
            <key>jufengzhou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{526,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,445}}</string>
                <key>sourceSize</key>
                <string>{526,445}</string>
            </dict>
            <key>jufengzhou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,530},{428,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,386}}</string>
                <key>sourceSize</key>
                <string>{428,386}</string>
            </dict>
            <key>jufengzhou6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{369,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,329}}</string>
                <key>sourceSize</key>
                <string>{369,329}</string>
            </dict>
            <key>jufengzhou7.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1130},{236,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,286}}</string>
                <key>sourceSize</key>
                <string>{236,286}</string>
            </dict>
            <key>jufengzhou8.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1130},{190,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,223}}</string>
                <key>sourceSize</key>
                <string>{190,223}</string>
            </dict>
            <key>jufengzhou9.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,878},{113,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jufengzhou.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0d3879247f7ff22d2faae178d93b442:1/1$</string>
            <key>textureFileName</key>
            <string>jufengzhou.png</string>
        </dict>
    </dict>
</plist>
