<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>denym1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,198},{62,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{62,36}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>denym10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,48},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{66,40}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>denym2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{72,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{72,36}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>denym3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,44}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>denym4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,42}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>denym5.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,126},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{70,38}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>denym6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,116},{60,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{60,34}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>denym7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{66,40}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>denym8.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{76,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,44}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>denym9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,44}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>denym.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d803dffdd8737c10af0dff3022b8c589:1/1$</string>
            <key>textureFileName</key>
            <string>denym.png</string>
        </dict>
    </dict>
</plist>
