<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanbao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{435,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,374}}</string>
                <key>sourceSize</key>
                <string>{435,374}</string>
            </dict>
            <key>yanbao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,369},{381,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,271}}</string>
                <key>sourceSize</key>
                <string>{381,271}</string>
            </dict>
            <key>yanbao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,329},{363,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,282}}</string>
                <key>sourceSize</key>
                <string>{363,282}</string>
            </dict>
            <key>yanbao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,642},{363,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,282}}</string>
                <key>sourceSize</key>
                <string>{363,282}</string>
            </dict>
            <key>yanbao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,400},{399,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,306}}</string>
                <key>sourceSize</key>
                <string>{399,306}</string>
            </dict>
            <key>yanbao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{399,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,353}}</string>
                <key>sourceSize</key>
                <string>{399,353}</string>
            </dict>
            <key>yanbao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,669},{333,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,310}}</string>
                <key>sourceSize</key>
                <string>{333,310}</string>
            </dict>
            <key>yanbao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{181,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,99}}</string>
                <key>sourceSize</key>
                <string>{181,99}</string>
            </dict>
            <key>yanbao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{407,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,365}}</string>
                <key>sourceSize</key>
                <string>{407,365}</string>
            </dict>
            <key>yanbao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{399,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,396}}</string>
                <key>sourceSize</key>
                <string>{399,396}</string>
            </dict>
            <key>yanbao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{399,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,406}}</string>
                <key>sourceSize</key>
                <string>{399,406}</string>
            </dict>
            <key>yanbao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{362,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,325}}</string>
                <key>sourceSize</key>
                <string>{362,325}</string>
            </dict>
            <key>yanbao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,708},{306,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,314}}</string>
                <key>sourceSize</key>
                <string>{306,314}</string>
            </dict>
            <key>yanbao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,708},{320,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,312}}</string>
                <key>sourceSize</key>
                <string>{320,312}</string>
            </dict>
            <key>yanbao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,357},{331,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,310}}</string>
                <key>sourceSize</key>
                <string>{331,310}</string>
            </dict>
            <key>yanbao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,613},{360,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,270}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanbao.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20d45a4806d3a039ee6524550a61666a:1/1$</string>
            <key>textureFileName</key>
            <string>yanbao.png</string>
        </dict>
    </dict>
</plist>
