<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>puduzhongsheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,93},{59,52}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,147},{59,52}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{165,176}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{165,176}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,308},{157,208}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{157,208}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,218}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{141,218}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,467},{139,190}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{139,190}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{155,192}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{155,192}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{157,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{157,212}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng16.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,608},{157,188}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,27},{157,188}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng17.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{157,212}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{157,212}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng18.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,785},{139,176}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{139,176}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{89,72}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,134},{89,72}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,308},{121,86}}</string>
                <key>offset</key>
                <string>{-3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,124},{121,86}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,612},{139,100}}</string>
                <key>offset</key>
                <string>{4,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,114},{139,100}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,467},{143,122}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,94},{143,122}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,767},{147,164}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,54},{147,164}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{157,208}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{157,208}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,161},{145,212}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{145,212}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
            <key>puduzhongsheng9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{163,186}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,33},{163,186}}</string>
                <key>sourceSize</key>
                <string>{165,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>puduzhongsheng.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:492130ab2e872f741ca6c84432f396e7:1/1$</string>
            <key>textureFileName</key>
            <string>puduzhongsheng.png</string>
        </dict>
    </dict>
</plist>
