<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>conjure1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,135}}</string>
                <key>sourceSize</key>
                <string>{259,135}</string>
            </dict>
            <key>conjure2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{246,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,162}}</string>
                <key>sourceSize</key>
                <string>{246,162}</string>
            </dict>
            <key>conjure3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{259,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,111}}</string>
                <key>sourceSize</key>
                <string>{259,111}</string>
            </dict>
            <key>conjure4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,166},{230,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,151}}</string>
                <key>sourceSize</key>
                <string>{230,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>conjure.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8877d1a0b573855814a0a5b804fb2bd1:1/1$</string>
            <key>textureFileName</key>
            <string>conjure.png</string>
        </dict>
    </dict>
</plist>
